class VaultConductor < Formula
  desc "An SSH Agent that provides SSH keys stored in Bitwarden Secret Manager."
  homepage "https://github.com/pirafrank/vault-conductor"
  license "MIT"
  version "{{ version }}"

  on_macos do
    on_intel do
      url "{{ macos_intel_url }}"
      sha256 "{{ macos_intel_sha256 }}"
    end
    on_arm do
      url "{{ macos_arm_url }}"
      sha256 "{{ macos_arm_sha256 }}"
    end
  end

  on_linux do
    on_intel do
      url "{{ linux_intel_url }}"
      sha256 "{{ linux_intel_sha256 }}"
    end
    on_arm do
      url "{{ linux_arm_url }}"
      sha256 "{{ linux_arm_sha256 }}"
    end
  end

  def install
    # This assumes your tarball extracts directly to a binary named "vault-conductor"
    # If it's inside a folder, you might need to adjust the path, e.g. bin.install "folder/vault-conductor"
    bin.install "vault-conductor"
  end

  def post_install
    # Ensure the binary is executable
    chmod 0755, "#{bin}/vault-conductor"
  end

  test do
    system "#{bin}/vault-conductor", "--version"
  end
end
